@page
@model EncuestaRazorPage.Pages.GraciasModel
@{
}

<div class="row">
    <div class="col text-center">
        <h1 class="mb-3">Gracias por tu respuesta</h1>
        <h2 class="mb-3">Si deseas conocer los resultados, accede al siguiente enlace</h2>
        <a class="btn btn-lg btn-primary" asp-page="Resultados">Resultados</a>
    </div>
</div>