@page
@using EncuestaRazorPage.Models
@model EncuestaRazorPage.Pages.TagHelpersModel
@{
}

<a asp-page="Index">Encuesta</a>

<form asp-page="Index">
    <div class="form-group">
        <label asp-for="CorreoElectronico"></label>
        <input asp-for="CorreoElectronico" class="form-control"/>
    </div>

    <div class="form-group mt-5">
        <select asp-for="NumeroSeleccionado" asp-items="Model.Numeros" class="form-select">
            <option value="">---Escoger Numero---</option>
        </select>
    </div>

    <div class="form-group mt-5">
        <select asp-for="PersonaSeleccionada" asp-items="@(new SelectList(Model.Personas, "Id", "Nombre"))" class="form-select">
            <option value="">---Escoger Persona---</option>
        </select>
    </div>

    <div class="form-group mt-5">
        <select asp-for="Estado" asp-items="@Html.GetEnumSelectList<EstadoDocumento>()" class="form-select">
            <option value="">---Escoger Estado---</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Observaciones"></label>
        <textarea asp-for="Observaciones" class="form-control" />
    </div>
</form>

